@{
    ViewData["Title"] = "DetalleFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetalleFactura</h2>

@(Html.DevExtreme().DataGrid<FarmaciaDevExtreme.Models.DetalleFactura>()
    .DataSource(ds => ds.WebApi()
        .Controller("DetalleFactura")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

       


        columns.AddFor(m => m.idProducto);

        columns.AddFor(m => m.precio);

        columns.AddFor(m => m.cantidadProducto);
        columns.AddFor(m => m.montoTotal);
    })
    .Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.GroupPanel(p => p.Visible(true))
.Grouping(g => g.AutoExpandAll(false))
.RemoteOperations(true)

            .Summary(s => s.TotalItems(items =>
            {
                items.AddFor(m => m.montoTotal).SummaryType(SummaryType.Sum);
            }))

    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )


)
@Styles.Render("~/Content/dx.greenmist.css")
